.nav-left {
    display: flex;
    column-gap: 20px;

}

.nav-right {
    display: flex;
    column-gap: 20px;

}

.link-button {
    display: inline-block;
    background-color: #d9d9d955;
    min-width: 30px;
    border-radius: 25px;
    height: 32px;
    padding: 0 15px; /* Adjust padding as needed */
    line-height: 32px; /* Center the text vertically */
    text-align: center; /* Center the text horizontally */
    font-size: 12px;
    text-decoration: none; /* Remove underline for links */
    color: #333; /* Customize the text color */
  }

  .link-button:hover {
    background-color: #d9d9d9; /* Change background color on hover */
    color: #000; /* Change text color on hover */
  }