.nav-left {
    display: flex;
    column-gap: 20px;

}

.nav-right {
    display: flex;
    column-gap: 20px;

}

.link-button {
    display: inline-block;
    background-color: #d9d9d955;
    min-width: 30px;
    border-radius: 25px;
    height: 32px;
    padding: 0 15px;
    line-height: 32px; 
    text-align: center; 
    font-size: 12px;
    text-decoration: none; 
    color: #333; 
  }

  .link-button:hover {
    background-color: #d9d9d9; 
    color: #000; 
  }